# Ignore the virtual environment folder
venv/

# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore editor and OS-specific files
.DS_Store
.vscode/
.idea/
Thumbs.db
ehthumbs.db
